<div class="landing-container">
    <div class="landing-group1">
        <img class="centeral-image" src="Group 54 (1).png" />
    </div>
</div>

<style>
    .landing-group1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: calc(100vh - 110px);
        background-color: #0E0E0E;
    }

    .centeral-image {
        width: 100vw;
        margin-top: 40vh;
        height: auto;
    }
</style>