<div class="gramaphone-container">
    <div class="gramaphone-group1">
        <img class="centeral-image" src="/Group 58.png" />
        <img class="buynow" src="/Group 49.png" onclick="()=>window.location.href='/addcart/gramaphone'" />
    </div>
</div>


<style>
    #Products {
        font-weight: 600;
    }

    body {
        background-color: #000 !important;
    }

    .navbar {
        background-color: #000 !important;
    }

    .gramaphone-group1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        top: -110px;
        background-color: #000;
    }

    .buynow {
        position: absolute;
        top: 110%;
        left: 40%;
        z-index: +1;
        cursor: pointer;
    }

    .centeral-image {
        width: 100vw;
        height: auto;
    }
</style>